<%- include ("partials/header") %>

<h1 style="text-align: center; color:lightslategray;">Eggs Demand Map</h1>
<br>
<div>
    <iframe width="800" height="550" style="margin: 0 auto; display: block;" frameborder="4" scrolling="no" src="//plotly.com/~siddharth_275/7.embed"></iframe>
</div>

<%- include ("partials/footer") %>