<!DOCTYPE html>
<html>
    <head>
        <title>EggsHub</title>
        <link rel = "icon"  href = "https://media.istockphoto.com/photos/white-egg-picture-id185264449?b=1&k=6&m=185264449&s=170667a&w=0&h=nD54IqnhUrmrEX3mwSYDmYDcniA0Q6ZwnSx-DOiyRR0=" type = "image/x-icon"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    
    <div id="landing-header">
 		<h1>Welcome to EggsHub!</h1>
		<a href="/dashboard" class="btn btn-lg btn-success">View The Dashboard</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include ("partials/footer") %>